<p id="notice"><%= notice %></p>

<p>
  <strong>Audits For:</strong>
  <%= @election.name %>
</p>

<div>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Time</th>
        <th>Changed</th>
      </tr>
    </thead>
    <% @audits.each do |audit| %>
      <tr>
        <td>
          <%= audit.user.email %>
        </td>
        <td>
          <%= audit.created_at %>
        </td>
        <td>
          <%= "#{audit.operation.capitalize}d #{audit.target.class} #{audit.target.id}" %>
          <% if audit.operation == 'create' %>
            <ul>
              <% audit.audit_changes.each do |property, change| %>
                <li>
                  <%= property %> set to <%= change[1] %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% if audit.operation == 'update' %>
            <ul>
              <% audit.audit_changes.each do |property, change| %>
                <li>
                  <%= property %> changed from <%= change[0] %> to <%= change[1] %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Questions', election_questions_path(@election) %> |
<%= link_to 'Voters', election_voters_path(@election) %> |
<%= link_to 'Back', election_path(@election) %>